a{
    color:rgb(164, 164, 164);
    font-weight:10;
    text-decoration:none;
}

p{
    color:rgb(255, 255, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px
}

.wholePage{
    background-color:#9c0242;
}

.headWhole{
    padding:10px;
    background-color:#610229;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.headerList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #41021c;
}

.headerItem{
    float:left;
    display:block;
    padding: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#ffffff;
}

.headerItem:hover{
    background:linear-gradient(#6f0230, #3a0219);
}

.currentPage{
    background:linear-gradient(#6f0230, #3a0219);
}

